.DS_Store
._*
.Spotlight-V100
.Trashes
Thumbs.db
Desktop.ini
.idea
_build
phpunit.xml
composer.lock
composer.phar
vendor
/report
/samples/resources
/samples/results
/.settings
phpword.ini
/.buildpath
/.project