.DS_Store
._*
.Spotlight-V100
.Trashes
Thumbs.db
Desktop.ini
.idea
_build
/build
phpunit.xml
composer.phar
vendor
/report
/build
/samples/results
/.settings
phpword.ini
/.buildpath
/.scannerwork
/.project
/nbproject
/.php_cs.cache
/.phpunit.result.cache
/public