# build config
/.github_changelog_generator export-ignore
/.github export-ignore
/.php-cs-fixer.dist.php export-ignore
/phpmd.xml.dist export-ignore
/phpstan.neon.dist export-ignore
/phpstan.neon.php73.dist export-ignore
/phpstan-baseline.neon export-ignore
/phpstan-baseline.php73.neon export-ignore

/composer.lock export-ignore

# git files
/.gitignore export-ignore
/.gitattributes export-ignore

# project directories
/build export-ignore
/docs export-ignore
/samples export-ignore

# tests
/phpunit.xml.dist export-ignore
/phpunit.7.8.xml.dist export-ignore
/phpunit9.xml.dist export-ignore
/phpunit10.xml.dist export-ignore
/tests export-ignore

# support modules
/mkdocs.yml export-ignore
/zensical.toml export-ignore
