includes:
    - phpstan-baseline.php7.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    level: 7
    paths:
        - src/
        - tests/
    excludePaths:
        - */pclzip.lib.php
        - src/PhpWord/Reader/MsDoc.php
        - src/PhpWord/Shared/OLERead.php
    bootstrapFiles:
        - tests/bootstrap.php
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        
        ## <=PHP7.4
        -
            message: '#Parameter \#1 \$argument of class ReflectionClass constructor expects class-string<T of object>\|T of object, string given.#'
            path: src/PhpWord/Element/AbstractContainer.php
        -
            message: '#Parameter \#1 \$function of function call_user_func expects callable\(\): mixed, string given.#'
            path: src/PhpWord/Element/Image.php
        -
            message: '#Parameter \#1 \$argument of class ReflectionClass constructor expects class-string<T of object>\|T of object, string given.#'
            path: src/PhpWord/IOFactory.php
        -
            message: '#Parameter \#1 \$function of function call_user_func_array expects callable\(\): mixed,#'
            path: src/PhpWord/Shared/ZipArchive.php
        -
            message: '#PHPDoc tag @var with type PhpOffice\\PhpWord\\Writer\\HTML\\Part\\AbstractPart is not subtype of native type PhpOffice\\PhpWord\\Writer\\HTML\\Part\\Body\|PhpOffice\\PhpWord\\Writer\\HTML\\Part\\Head.#'
            path: src/PhpWord/Writer/HTML.php
        -
            message: '#Parameter \#1 \$function of function call_user_func_array expects callable\(\): mixed, array{PhpOffice\\PhpWord\\Writer\\PDF\\AbstractRenderer, string} given.#'
            path: src/PhpWord/Writer/PDF.php
        -
            message: '#PHPDoc tag @var with type PhpOffice\\PhpWord\\Element\\AbstractElement is not subtype of native type #'
            path: tests/PhpWordTests/Element/AbstractElementTest.php
        -
            message: '#PHPDoc tag @var with type PhpOffice\\PhpWord\\Style\\AbstractStyle is not subtype of native type #'
            path: tests/PhpWordTests/Style/AbstractStyleTest.php
        -
            message: '#Parameter \#1 \$argument of class ReflectionClass constructor expects class-string<object>\|object, class-string\|false given.#'
            path: tests/PhpWordTests/Style/AbstractStyleTest.php
        -
            message: '#PHPDoc tag @var with type PhpOffice\\PhpWord\\Writer\\Word2007\\Part\\AbstractPart is not subtype of native type #'
            path: tests/PhpWordTests/Writer/Word2007/Part/AbstractPartTest.php
