includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    level: 7
    paths:
        - src/
        - tests/
    excludePaths:
        - */pclzip.lib.php
    bootstrapFiles:
        - tests/bootstrap.php
    treatPhpDocTypesAsCertain: false
    reportUnsafeArrayStringKeyCasting: prevent
    ignoreErrors:
        -
            identifier: missingType.iterableValue
