includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    level: 7
    paths:
        - src/
        - tests/
    excludePaths:
        - */pclzip.lib.php
        - src/PhpWord/Shared/OLERead.php
        - src/PhpWord/Reader/MsDoc.php
        - src/PhpWord/Writer/PDF/MPDF.php
    bootstrapFiles:
        - tests/bootstrap.php
    ignoreErrors:
        -
            identifier: missingType.iterableValue
