; Default config file for PHPWord
; Copy this file into phpword.ini and use Settings::loadConfig to load

[General]

compatibility         = true
zipClass              = ZipArchive
pdfRendererName       = DomPDF
pdfRendererPath       =
; tempDir               = "C:\PhpWordTemp"
outputEscapingEnabled = false

[Font]

defaultFontName = Arial
defaultFontSize = 10

[Paper]

defaultPaper = "A4"
